<h2>Sheets</h2>

Total sheets in my account: <%= @sheets.length %>.
</br>
Showing first 10 sheets:

</br>
</br>

<table width=30%>
  <tr>
    <td> <b>ID</b> </td>
    <td> <b>Name</b> </td>
    <td> <b>Access Level</b> </td>
  </tr>
<% @sheets.each_with_index do |item, index| %>
  <tr>
    <td><%= item['id'] %></td>
    <td><%= link_to item["name"], select_columns_path(id: item['id'] ) %></td>
    <td><%= item['accessLevel'] %></td>
  </tr>
  <% break if index == 9 %>
<% end %>
